body {
    background-color: #f5f5f5;
    font-family: 'Lora', serif;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #5d4037;
}

h1 {
    border-bottom: 2px solid #5d4037;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

/* LINKS */
a {
    text-decoration: underline;
    color: #5d4037;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

/* ARTICULOS */
article {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    transition: 0.3s;
}

article:hover {
    background: black;
    color: white;
}

.contador-seccion {
    margin: 0 0 1rem;
    font-size: 0.95rem;
    font-weight: 500;
    color: #5d4037;
}

.contador-total {
    margin: 20px auto;
    max-width: 1200px;
    font-size: 1rem;
    font-weight: 700;
    color: #5d4037;
    text-align: center;
}

article video {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 1rem auto;
}

/* TABLAS */
table {
    width: 100%;
}

td {
    padding: 10px;
}

/* FORMULARIOS CENTRADOS */
.form-card {
    background: white;
    padding: 25px;
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.form-seccion {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
}

.btn-accion {
    background: #5d4037;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    background: #c9d2d0;
    color: #31231e;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    table tr {
        display: block;
    }

    td {
        display: block;
    }
}